.login-container {
  padding: 20px;
  background-color: #333; /* Correspond à la navbar */
  color: white; /* Texte en blanc */
  border-radius: 10px;
  width: 600px; /* Largeur doublée */
  margin: 50px auto 0 auto; /* Ajoute une marge en haut de 50px */
  box-sizing: border-box; /* Inclut padding et border dans la largeur */
}

label {
  font-weight: bold;
  color: white; /* Texte en blanc */
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  color: white; /* Texte en blanc */
  box-sizing: border-box; /* Inclut padding et border dans la largeur */
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.register-btn {
  background-color: #008CBA;
}

button:hover {
  opacity: 0.8;
}
